<header>
<!--    <div class="head_container">-->
<!--        <a href="{% url 'index' %}" class="head_h1">Library</a>-->
<!--        <div class="content">-->
<!--            <a href="{% url 'register' %} " class="user">Registration</a>-->
<!--            <div class="logs">-->
<!--                <a href="{% url 'login' %}" class="user">Log in</a>-->
<!--                <a href="{% url 'logout' %}" class="user">Log out</a>-->
<!--            </div>-->
<!--            {% if request.user.is_authenticated %}-->
<!--                <a class="profile_a" href="{% url 'profile_detail' %}">-->
<!--                    <img class="profile_ava" src="{{ object.profile_picture.url }}" alt="Profile Picture">-->
<!--                </a>-->
<!--            {% endif %}-->
<!--        </div>-->
<!--    </div>-->
</header>